h1  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: silver;
}

h2  {
    text-align: center;
    color: navy;
    font-weight: bold;
}

body{
    background-image: url("../images/bg.jpeg");
    background-size: 2000px;
}

p {
    color: silver;

}

#masthead {
    text-align: center;
}

footer{
    text-align: center;
    color: silver;
}

.main-section   {
    align-items: center;
}